[workspace]
resolver = "2"
members = ["daur-lib", "daur-tui"]

[workspace.package]
authors = ["SLUCHABLUB"]
edition = "2024"
repository = "https://github.com/SLUCHABLUB/daur"
license = "Apache-2.0"

# TODO: remove when cpal fork gets merged
[patch.crates-io]
cpal = { git = "https://github.com/SLUCHABLUB/cpal.git" }
